extends layout

block content
  script(src="/javascripts/dash.js")
  div#user
    if(user.avatar)
      img.avatar(src='https://everton.iriscouch.com/dischost/#{user._id}/#{user.avatar}', alt='User Avatar', width='200px', height='200px')
    else
      img.avatar(src='/images/avatar.png', alt='User Avatar', width='200px', height='200px')
    div#user-details
      h1.lge-head #{user.username}
      h2 Country: #{user.country}
      h3 Email: #{user.email}
      a(href='/editprofile') Edit Profile
    div#add-release
      a(href='/addmusic')
        span
          p.plus +
          p.add-rel-txt add music
    div#left-side
      h2#your-col-header.block-header Your Collection
        img#your-col-arrow.arrow(src="/images/arr-down.png")
      div#your-collection
        ul#collection-items
        each item in music
          li
            p #{item.artist} - 
              a(href="/music/#{item._id}") #{item.title}
    div#right-side
      h2#your-com-header.block-header Your Comments
        img#your-com-arrow.arrow(src="/images/arr-down.png")
      div#your-comments
        ul#comments-items
        each comment in comments
          li
            p.dark #{comment.artist} - #{comment.title}
            p #{comment.content}