extends layout

block content
  script(src="/javascripts/edittracks.js")
  div#music
    div#left-col
      img(src='/images/default.png', alt='Music Artwork', width='200px', height='200px')
    div#centre
      div#music-details
        h1.lge-head #{item.title}
        h2 #{item.artist}
        p Label: #{item.label}
        p Year: #{item.year}
        p Format: #{item.format}
    div#edit-tracklist
      h2#tracklist-header.block-header Tracklist
      each track in tracklist
          ul#tracklist-items
              li #{track.number}: #{track.title}
    div#add-tracks
      h2#tracklist-header.block-header Add Tracks
      div#add-track-form
        form(method="POST", action="/addtrack")
          input(type="hidden", name="music_id", value="#{item._id}")
          input(type="hidden", name="number", value="#{tracklist.length + 1}")
          label#addtrack(for="title") Title:
          input#add-track-input.std-input(type="text", name="title")
          br
          button(class="submitbtn", role="button") Add Track
          br

  