extends layout

block content
  script(src="/javascripts/musicpage.js")
  div#music
    div#left-col
      img(src='/images/default.png', alt='Music Artwork', width='200px', height='200px')
      div#review-div
        h2#review-header.block-header Review
          img#review-arrow.arrow(src="/images/arr-down.png")
        div#review-text
          p #{item.review}
    div#right-col
      div#rating
        h2 User Rating
        form#rating-form
          input(type="hidden", name="dataset", value="apples")
          input(type="hidden", name="dataset", value="oranges")
          p#rating-label 3.8
        script(src="/javascripts/d3.v3/d3.v3.min.js")
        script(src="/javascripts/donut.js")
      div#player-div
        h2#player-header.block-header Player
          img#player-arrow.arrow(src="/images/arr-down.png")
        div#player-items
          p#current-play Lorem ipsum dolor sit amet consectetur adipiscing
          audio#player(controls)
    div#centre
      div#music-details
        h1.lge-head #{item.title}
        h2 #{item.artist}
        p.details Label: 
          span.bold #{item.label}
        p.details Year: 
          span.bold #{item.year}
        p.details Format: 
          span.bold #{item.format}
      div#tracklist
        h2#tracklist-header.block-header Tracklist
          img#tracklist-arrow.arrow(src="/images/arr-down.png")
        ul#tracklist-items
          case tracklist.length
            when 0
              li No tracks have been added
            default
              each track in tracklist
                li #{track.number}: #{track.title}
      div#comments
        h2#comments-header.block-header Comments
          img#comments-arrow.arrow(src="/images/arr-down.png")
        div#comments-items
          form#add-comment-form(method="POST", action="/addcomment")
            input(type="hidden", name="artist", value="#{item.artist}")
            input(type="hidden", name="title", value="#{item.title}")
            input(type="hidden", name="music_id", value="#{item._id}")
            label(for="content") Add Comment:
            input#add-comment.std-input(type="text", name="content")
            br
            button(class="submitbtn", role="button") Comment
            br
          ul                
            each comment in comments
              li
                p.comment-username #{comment.username}
                p #{comment.content}